*.pdb
**/*.rs.bk
**/mutants.out*/

debug
target

/target
/cleaner/target
/database/target

/multi-cleaner/info
/multi-cleaner/hooks
/multi-cleaner/objects

multi-cleaner/HEAD
multi-cleaner/FETCH_HEAD

multi-cleaner/config
multi-cleaner/packed-refs
multi-cleaner/description